<mat-toolbar color="primary">
  <span>{{ dialogTitle }}</span>
</mat-toolbar>

<div class="container">
  <form [formGroup]="frm">
    <!-- File Name -->

    <mat-form-field appearance="outline">
      <mat-label>Dosya Adı</mat-label>
      <input matInput placeholder="Dosya Adı" formControlName="fileName" name="fileName" required type="text" />
    </mat-form-field>

    <!-- Group -->

    <mat-form-field appearance="outline">
      <mat-label>Grup</mat-label>
      <mat-select required formControlName="fileGroupId" name="fileGroupId">
        <mat-option *ngFor="let group of groupList" [value]="group">
          <mat-label>{{group.groupName}}</mat-label>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--  -->
    &nbsp;
    <div>
      <input type="file" (change)="AddFile($event)"/>
    </div>
    &nbsp;

  </form>

  <!-- Save Button -->

  <button mat-raised-button color="primary" (click)="dialogRef.close(frm.value)" [disabled]="frm.invalid">Kaydet</button>&nbsp;

  <!-- Cancel Button -->

  <button mat-raised-button color="warn" (click)="dialogRef.close()">İptal</button>

</div>