<div class="container">
  <p>&nbsp;</p>
  <h2>Üyeler</h2>

  <!-- Floating Action Button -->

  <button mat-fab (click)="AddUser()">
    <mat-icon aria-label="label" color="primary">add</mat-icon>
  </button>

  <!-- SearchBox -->

  <mat-form-field appearance="outline">
    <input
      matInput
      placeholder="Aranacak İsim Giriniz"
      (keyup)="Filter($event)"
    />
  </mat-form-field>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="userNameSurname">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Ad Soyad</mat-header-cell
      >
      <mat-cell *matCellDef="let user"><a [routerLink]="['/userProfile/'+user.Id]">{{ user.userNameSurname }}</a></mat-cell>
    </ng-container>

    <!-- Group Column -->
    <ng-container matColumnDef="userEmail">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let user">{{ user.userEmail }}</mat-cell>
    </ng-container>

    <!-- Auth Column -->
    <ng-container matColumnDef="userAuth">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Yetki</mat-header-cell>
      <mat-cell *matCellDef="let user">{{
        user.userAuthority?.authorityName
      }}</mat-cell>
    </ng-container>

    <!-- Group Column -->
    <ng-container matColumnDef="userGroup">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Grup</mat-header-cell>
      <mat-cell *matCellDef="let user">{{
        user.userGroup?.groupName
      }}</mat-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container matColumnDef="islemler">
      <mat-header-cell *matHeaderCellDef>İşlemler</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <button mat-icon-button matTooltip="Dosyaları Listele" [routerLink]="['/userProfile/'+user.Id]">
          <mat-icon aria-label="label" color="primary">article</mat-icon>
        </button>

        <button
          mat-icon-button
          matTooltip="Üye Düzenle"
          (click)="EditUser(user)"
        >
          <mat-icon aria-label="label" color="primary">edit</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Üye Sil" (click)="DeleteUser(user)">
          <mat-icon aria-label="label" color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Header Row -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <!-- Row Definition -->
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <!-- Paginator -->
  <mat-paginator
    [pageSizeOptions]="[1, 10, 50, 100, 500]"
    showFirstLastButtons="true"
  >
  </mat-paginator>
</div>
