<div class="container">
  <p>&nbsp;</p>
  <h2>Dosyalar</h2>

  <!-- Floating Action Button -->

  <button mat-fab (click)="AddFile()">
    <mat-icon aria-label="label" color="primary">add</mat-icon>
  </button>

  <!-- SearchBox -->

  <mat-form-field appearance="outline">
    <input matInput placeholder="Aranacak Dosya İsmi Giriniz" (keyup)="Filter($event)" />
  </mat-form-field>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

     <!-- Uploader Name Column -->
     <ng-container matColumnDef="uploader">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Yükleyen Kullanıcı</mat-header-cell>
      <mat-cell *matCellDef="let file">{{ file.fileUploaderId.userNameSurname }}</mat-cell>
    </ng-container>

    <!-- Filename Column -->
    <ng-container matColumnDef="fileName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Dosya Adı</mat-header-cell>
      <mat-cell *matCellDef="let file">{{ file.fileName }}</mat-cell>
    </ng-container>

     <!-- GroupName Column -->
     <ng-container matColumnDef="groupName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Grup Adı</mat-header-cell>
      <mat-cell *matCellDef="let file">{{ file.fileGroupId.groupName }}</mat-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container matColumnDef="islemler">
      <mat-header-cell *matHeaderCellDef>İşlemler</mat-header-cell>
      <mat-cell *matCellDef="let file">
        <button mat-icon-button matTooltip="Dosyaları İndir">
          <mat-icon aria-label="label" color="primary">download</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Dosya Düzenle" (click)="EditFile(file)">
          <mat-icon aria-label="label" color="primary">edit</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Dosya Sil" (click)="DeleteFile(file)">
          <mat-icon aria-label="label" color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Header Row -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <!-- Row Definition -->
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>

  <!-- Paginator -->
  <mat-paginator [pageSizeOptions]="[1, 10, 50, 100, 500]" showFirstLastButtons="true">
  </mat-paginator>
</div>